[submodule "source-sdk"]
	path = external/source-sdk
	url = https://github.com/ReplayCoding/hl2sdk-cmake
	branch = sdk2013
[submodule "vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "tracy"]
	path = external/tracy
  branch = "noinstall"
	url = https://github.com/ReplayCoding/tracy
[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
